<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>07</BK1>
  <BK2>77</BK2>
  <Col3>a7</Col3>
  <Reversed>False</Reversed>
  <Multicolour>True</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>0</charcode>
    <chardata>
      <data>85</data>
      <data>89</data>
      <data>97</data>
      <data>105</data>
      <data>109</data>
      <data>20</data>
      <data>16</data>
      <data>16</data>
    </chardata>
  </character>
  <character>
    <charcode>1</charcode>
    <chardata>
      <data>16</data>
      <data>20</data>
      <data>68</data>
      <data>84</data>
      <data>68</data>
      <data>68</data>
      <data>68</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>2</charcode>
    <chardata>
      <data>80</data>
      <data>68</data>
      <data>68</data>
      <data>84</data>
      <data>68</data>
      <data>68</data>
      <data>80</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>3</charcode>
    <chardata>
      <data>16</data>
      <data>68</data>
      <data>64</data>
      <data>64</data>
      <data>64</data>
      <data>68</data>
      <data>16</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>4</charcode>
    <chardata>
      <data>80</data>
      <data>68</data>
      <data>68</data>
      <data>68</data>
      <data>68</data>
      <data>68</data>
      <data>80</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>5</charcode>
    <chardata>
      <data>84</data>
      <data>64</data>
      <data>64</data>
      <data>80</data>
      <data>64</data>
      <data>64</data>
      <data>84</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>6</charcode>
    <chardata>
      <data>84</data>
      <data>64</data>
      <data>64</data>
      <data>80</data>
      <data>64</data>
      <data>64</data>
      <data>64</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>7</charcode>
    <chardata>
      <data>20</data>
      <data>68</data>
      <data>64</data>
      <data>64</data>
      <data>69</data>
      <data>65</data>
      <data>20</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>8</charcode>
    <chardata>
      <data>68</data>
      <data>68</data>
      <data>68</data>
      <data>84</data>
      <data>68</data>
      <data>68</data>
      <data>68</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>9</charcode>
    <chardata>
      <data>84</data>
      <data>16</data>
      <data>16</data>
      <data>16</data>
      <data>16</data>
      <data>16</data>
      <data>84</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>10</charcode>
    <chardata>
      <data>20</data>
      <data>4</data>
      <data>4</data>
      <data>4</data>
      <data>4</data>
      <data>68</data>
      <data>16</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>11</charcode>
    <chardata>
      <data>68</data>
      <data>68</data>
      <data>68</data>
      <data>80</data>
      <data>80</data>
      <data>68</data>
      <data>68</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>12</charcode>
    <chardata>
      <data>64</data>
      <data>64</data>
      <data>64</data>
      <data>64</data>
      <data>64</data>
      <data>64</data>
      <data>84</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>13</charcode>
    <chardata>
      <data>64</data>
      <data>81</data>
      <data>85</data>
      <data>81</data>
      <data>65</data>
      <data>65</data>
      <data>65</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>14</charcode>
    <chardata>
      <data>65</data>
      <data>65</data>
      <data>81</data>
      <data>81</data>
      <data>85</data>
      <data>69</data>
      <data>65</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>15</charcode>
    <chardata>
      <data>16</data>
      <data>68</data>
      <data>68</data>
      <data>68</data>
      <data>68</data>
      <data>68</data>
      <data>16</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>16</charcode>
    <chardata>
      <data>80</data>
      <data>68</data>
      <data>68</data>
      <data>80</data>
      <data>64</data>
      <data>64</data>
      <data>64</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>17</charcode>
    <chardata>
      <data>16</data>
      <data>68</data>
      <data>68</data>
      <data>68</data>
      <data>68</data>
      <data>20</data>
      <data>4</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>18</charcode>
    <chardata>
      <data>80</data>
      <data>68</data>
      <data>68</data>
      <data>80</data>
      <data>80</data>
      <data>68</data>
      <data>68</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>19</charcode>
    <chardata>
      <data>16</data>
      <data>68</data>
      <data>64</data>
      <data>20</data>
      <data>4</data>
      <data>68</data>
      <data>16</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>20</charcode>
    <chardata>
      <data>84</data>
      <data>16</data>
      <data>16</data>
      <data>16</data>
      <data>16</data>
      <data>16</data>
      <data>16</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>21</charcode>
    <chardata>
      <data>68</data>
      <data>68</data>
      <data>68</data>
      <data>68</data>
      <data>68</data>
      <data>68</data>
      <data>16</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>22</charcode>
    <chardata>
      <data>68</data>
      <data>68</data>
      <data>68</data>
      <data>68</data>
      <data>68</data>
      <data>16</data>
      <data>16</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>23</charcode>
    <chardata>
      <data>65</data>
      <data>65</data>
      <data>65</data>
      <data>65</data>
      <data>81</data>
      <data>85</data>
      <data>65</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>24</charcode>
    <chardata>
      <data>68</data>
      <data>68</data>
      <data>16</data>
      <data>16</data>
      <data>16</data>
      <data>68</data>
      <data>68</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>25</charcode>
    <chardata>
      <data>68</data>
      <data>68</data>
      <data>68</data>
      <data>16</data>
      <data>16</data>
      <data>16</data>
      <data>16</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>26</charcode>
    <chardata>
      <data>84</data>
      <data>4</data>
      <data>4</data>
      <data>16</data>
      <data>16</data>
      <data>64</data>
      <data>84</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>27</charcode>
    <chardata>
      <data>60</data>
      <data>60</data>
      <data>60</data>
      <data>60</data>
      <data>60</data>
      <data>60</data>
      <data>60</data>
      <data>60</data>
    </chardata>
  </character>
  <character>
    <charcode>28</charcode>
    <chardata>
      <data>60</data>
      <data>60</data>
      <data>63</data>
      <data>63</data>
      <data>63</data>
      <data>63</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>29</charcode>
    <chardata>
      <data>60</data>
      <data>60</data>
      <data>252</data>
      <data>252</data>
      <data>252</data>
      <data>252</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>30</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>31</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>60</data>
      <data>60</data>
    </chardata>
  </character>
  <character>
    <charcode>32</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>33</charcode>
    <chardata>
      <data>60</data>
      <data>60</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>60</data>
      <data>60</data>
    </chardata>
  </character>
  <character>
    <charcode>34</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>63</data>
      <data>63</data>
      <data>63</data>
      <data>63</data>
      <data>60</data>
      <data>60</data>
    </chardata>
  </character>
  <character>
    <charcode>35</charcode>
    <chardata>
      <data>60</data>
      <data>60</data>
      <data>63</data>
      <data>63</data>
      <data>63</data>
      <data>63</data>
      <data>60</data>
      <data>60</data>
    </chardata>
  </character>
  <character>
    <charcode>36</charcode>
    <chardata>
      <data>60</data>
      <data>60</data>
      <data>252</data>
      <data>252</data>
      <data>252</data>
      <data>252</data>
      <data>60</data>
      <data>60</data>
    </chardata>
  </character>
  <character>
    <charcode>37</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>252</data>
      <data>252</data>
      <data>252</data>
      <data>252</data>
      <data>60</data>
      <data>60</data>
    </chardata>
  </character>
</charset>
